<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <title>미국 주</title>
</head>
<body>
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <my-component></my-component>
    <my-component></my-component>
    <my-component></my-component>
</div>

<script type="text/javascript">
  const Component = {
      template: '<div><button type="button" v-on:click="counter +=1">{{ counter }}</button></div>',
      data() {
          return {
              counter: 0
          }
      }

  };

  new Vue({
    el: '#app',
    components: {'myComponent' : Component},
      data() {
        return {
            message: ""
        }
      }
  });
</script>
</body>
</html>