<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <title>미국 주</title>
</head>
<body>
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <ol>
        <li v-for="nation in states">
            {{nation}}
        </li>
    </ol>
</div>
<script type="text/javascript">
  var webstore = new Vue({
    el: '#app',
    data: {
      states: [
          '알라바마',
          '알래스카',
          '애리조나',
          '캘리포니아',
          '네바다'
      ]
    }
  });
</script>
</body>
</html>