<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>간단한 지도 표시하기</title>
</head>
<body>
<script src="https://unpkg.com/vue"></script>



  <div id="localConstruction" v-show="isShowInfo" v-cloak>
    <div id="map" style="margin:0 auto; width:1000px;max-width:100%;height:700px;"></div>
  </div>

<section>
  <article>
    <a href="/board/mapWrite">입력하기</a>
  </article>
  <article>
    <div class="input-area">
      <form name="form" id="form" method="post" onsubmit="return false;">
        <select id="region_code1" name="admCd" size="1">
          <option value="">지역선택</option>
          <option value="11">서울특별시</option>
          <option value="26">부산광역시</option>
          <option value="27">대구광역시</option>
          <option value="28">인천광역시</option>
          <option value="29">광주광역시</option>
          <option value="30">대전광역시</option>
          <option value="31">울산광역시</option>
          <option value="42">강원도</option>
          <option value="41">경기도</option>
          <option value="47">경상북도</option>
          <option value="48">경상남도</option>
          <option value="46">전라남도</option>
          <option value="45">전라북도</option>
          <option value="44">충청남도</option>
          <option value="43">충청북도</option>
          <option value="3611">세종특별자치시</option>
          <option value="50">제주특별자치도</option>
        </select>
        <input type="hidden" name="resultType" value="json"/>
        <input type="hidden" name="confmKey" value="devU01TX0FVVEgyMDIxMDUyODE0Mzc1MjExMTIxODY="/>
        <input type="hidden" name="hstryYn" value="Y"/>
        <input type="hidden" name="firstSort" value="road">
        <input type="hidden" name="addInfoYn" value="Y"/>
        <div class="search-box">
          <input id="searchInput" type="text" name="keyword" value="" placeholder="아파트/건물명" autocomplete="off"/>
          <table id="searchList" style="display:none;"></table>
        </div>
        <input type="button" value="찾기" onclick="javascript:jusoCallBack();">
        <div>
        <button onclick="javascript:regionData()">눌러보세요</button>
        </div>
      </form>
    </div>
  </article>
  <article>
  </article>
</section>
<footer>
</footer>

<style>
  .input-area{
    display: inline-block;
  }
  .search-box{
    display: inline-block;
    width: 300px;
    height: 300px;
  }
  #searchInput{
    display: flex;
  }
  #searchInput tr{
    width:100%;
    margin:0 auto;
  }
  #searchList{
    position: fixed;
    border: 1px solid black;
    display: block;
}

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=7o83deuk7v"></script>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps-geocoder.js?ncpClientId=7o83deuk7v"></script>
<script src="/js/marker.js"></script>
<script src="/js/map.js"></script>
<script src="/js/searchArea.js"></script>
<script>
</script>
</body>
</html>