<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- axios 추가 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
  <title>Vue.js 애완용품샵</title>
</head>
<body>
<script src="https://unpkg.com/vue"></script>

<div id="app">
  <header>
    <!-- 컴퍼넌트 추가 -->
    <my-component text="안녕하세요"></my-component>
    <div class="navbar navbar-default">
      <h1>{{ siteName }}</h1>
    </div>
    <div class="nav navbar-nav navbar-right cart">
      <button type="button" class="btn btn-default btn-lg" v-on:click="showCheckout">
      <span class="glyphicon glyphicon-shopping-cart">
        {{ cartItemCount }}
      </span>
        <span>체크아웃</span>
      </button>
    </div>
  </header>
  <main>


        <div v-if="showProduct">
          <div v-for="product in sortedProducts">
            <hr>
          <div class="row">
          <!-- 상품설명 페이지 -->
            <div class="col-md-5 col-md-offset-0">
            <figure>
              <img v-bind:src="product.image">
            </figure>
          </div>
          <div class="col-md-6 col-md-offset-2 description">
            <h1 v-text="product.title"></h1>
            <p v-html="product.description"></p>
            <p class="price">
              {{ product.price | formatPrice}}
            </p>
            <button class="btn btn-primary btn-lg" v-on:click="addToCart(product)" v-if="canAddToCart(product)">장바구니 담기</button>
            <button disabled="true" class="btn btn-primary btn-lg" v-else>장바구니 담기</button>
            <span class="inventory-message" v-if="product.availableInventory - cartCount(product.id) === 0">
            <strong>품절!</strong>
          </span>
            <span class="inventory-message" v-else-if="product.availableInventory - cartCount(product.id) < 5">
            {{ product.availableInventory - cartCount(product.id) }} 개 남았습니다!
          </span>
            <span class="inventory-message" v-else>
            <strong>지금 구매하세요!</strong>
          </span>
            <div class="rating">
              <span v-bind:class="{'rating-active' : checkRating(n, product)}" v-for="n in 5">☆</span>
            </div>
            </div>
          </div>
            </hr>
          </div>
        </div>
        <div v-else>
          <!-- 체크아웃 페이지 -->
          <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-info">
              <div class="panel-heading">애완용품샵 체크아웃</div>
              <div class="panel-body">
                <div class="form-group">
                  <div class="col-md-6">
                    <strong>이름: </strong>
                    <input v-model.lazy="order.firstName" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6">
                  <strong>성: </strong>
                  <input v-model.trim="order.lastName" class="form-control"/>
                </div>
                <div class="form-group">
                  <div class="col-md-12 verify">
          <pre>
            이름: {{ order.firstName }}
            성: {{ order.lastName }}
          </pre>
                  </div>
                </div>
                <div class="form-group">
                  <!-- 주소입력 -->
                  <div class="col-md-12"><strong>주소:</strong></div>
                  <div class="col-md-12">
                    <input v-model.trim="order.address" class="form-control"/>
                  </div>
                </div>
                <div class="from-group">
                  <!-- 도시입력 -->
                  <div class="col-md-12"><strong>도시:</strong></div>
                  <div class="col-md-12">
                    <input v-model.trim="order.city" class="form-control"/>
                  </div>
                </div>
                <!-- 도시입력 -->
                <div class="form-group">
                  <div class="col-md-2">
                    <strong>State:</strong>
                    <select v-model="order.state" class="form-control">
                      <option disabled value="">State</option>
                      <option v-for="(state, key) in states" v-bind:value="state">
                        {{key}}
                      </option>
                      <!--<option v-bind:value="states.AL">AL</option>
                      <option v-bind:value="states.AR">AR</option>
                      <option v-bind:value="states.CA">CA</option>
                      <option v-bind:value="states.NV">NV</option> -->
                    </select>
                  </div>
                </div>
                <!-- 우편번호 입력 -->
                <div class="form-group">
                  <div class="col-md-6 col-md-offset-4">
                    <strong>우편번호: </strong>
                    <input v-model.number="order.zip" class="form-control"
                           type="number">
                  </div>
                </div>
                <!-- 체크박스 추가 -->
                <!-- 선물체크박스에 참, 거짓 바인딩 -->
                <div class="form-group">
                  <div class="col-md-6 boxes">
                    <input type="checkbox" id="gift" value="true" v-bind:true-value="order.sendGift"
                           v-bind:false-value="order.dontSendGift" v-model="order.gift">
                    <label for="gift">선물로 보내기?</label>
                  </div>
                </div>
                <!-- 라디오 버튼 추가 -->
                <div class="form-group">
                  <div class="col-md-6 boxes">
                    <input type="radio" id="home" value="Home" v-bind:value="order.home" v-model="order.method">
                    <label for="home">자택</label>
                    <input type="radio" id="business" value="Business" v-bind:value="order.business" v-model="order.method">
                    <label for="business">직장</label>
                  </div>
                </div>
                <!-- 주문하기버튼 -->
                <div class="form-group">
                  <div class="col-md-6">
                    <button type="submit" class="btn btn-primary submit" v-on:click="submitForm">주문하기</button>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12 verify">
          <pre>
            이름: {{ order.firstName }}
            성: {{ order.lastName }}
            주소: {{ order.address }}
            도시: {{ order.city }}
            우편번호: {{ order.zip }}
            주: {{ order.state }}
            주소지: {{ order.method }}
            선물: {{ order.gift }}
          </pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


  </main>
</div>

<script type="text/javascript">
  // 컴포넌트 선언을 포함한 const 변수
  const Component = {
    // 해당 컴포넌트를 표시할 템플릿
    template: '<div> {{ text }}! 애완용품 샵에 오신 것을 환영합니다!</div>',
    props: ['text']
  }
  var APP_LOG_LIFECYCLE_EVENTS = true;
  var webStore = new Vue({
            el: "#app",
            components: {'myComponent' : Component}, // 컴포넌트 인스턴스 옵션
            data: {
              showProduct: true, // 상품페이지 보여줄 지 체크하는 속성
              siteName: "Vue.js 애완용품샵",
              order: {
                firstName: '',
                lastName: '',
                address: '',
                city: '',
                state: '',
                zip: '',
                gift: '선물 배송 여부',
                sendGift: '선물 배송 성공',
                dontSendGift: '선물 배송 실패',
                method: '주소지 입력',
                home: '서울시 강동구 고덕동',
                business: '서울시 구로구 디지털로 26길 62 에이스하이엔드 2차'

              },
              states: {
                AL: '알라바마',
                AR: '애리조나',
                CA: '캘리포니아',
                NV: '네바다'
              },
            product: [],
            cart: []
          } ,
    filters: {
      formatPrice : function(price) {
        if (!parseInt(price)) {return "";}
        if (price >99999) {
          var priceString = (price / 100).toFixed(2);
          var priceArray = priceString.split("").reverse();
          var index = 3;
          while (priceString.length > index + 3) {
            priceArray.splice(index + 3, 0, ",");
            index += 4;
          }
          return "$" + priceArray.reverse().join("");
        }else {
          return "$" + (price / 100).toFixed(2);
        }
      }
    },

    computed: {
      // 현재 장바구니에 담긴 상품 개수 (product.json 불러오기 전)
      cartItemCount: function() {
        return this.cart.length || '';
      },
      sortedProducts() {
        if(this.product.length > 0) {
          let productsArray = this.product.slice(0);
          function compare(a,b) {
            if (a.title.toLowerCase() < b.title.toLowerCase()) return 1;
            return 0; // 상품명이 같을 경우
          }
          return productsArray.sort(compare);
        }
      }
    },
    methods: {
      // 장바구니 추가
      addToCart: function(aProduct) {
        this.cart.push(aProduct.id);
      },
      //체크아웃 페이지, 상품페이지 전환
      showCheckout() {
        this.showProduct = this.showProduct ? false : true;
      },

      submitForm() {
        alert('제출 완료');
      },

      checkRating(n, myproduct){
        return myproduct.rating - n >=0;
      },
      // 장바구니 담기 활성화
      canAddToCart: function(aProduct) {
        return aProduct.availableInventory > this.cartCount(aProduct.id);
      },
      // 현재 장바구니 상품 개수 (product.json 불러온 후후)
      cartCount(id) {
       let count = 0;
        for (var i=0; i<this.cart.length; i++) {
          if(this.cart[i] === id) {
            count ++;
          }
        }
        return count;
      }
    },
    created: function() {
      axios.get('./product.json')
              .then((response) => {
                this.product=response.data.product;
                console.log(this.product);
              });
    },
  });
</script>

</body>
</html>